*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #f7f3ef;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  margin-top: 5rem;
}

#txtAdd {
  margin-top: -6rem;
  width: 8rem;
  background: transparent;
  border: none;
  font-size: 5rem;
  color: #666;
  text-align: center;
  outline: none !important;
}

button {
  height: 4rem;
  width: 4rem;
  margin: 3rem 1rem;
  font-size: 2rem;
  color: #ffffff;
  text-align: center;
  border: none;
  border-radius: 15%;
  background: #666;
}

button:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: #030303;
  border: 1px solid #999;
  outline: none !important;
}

.red {
  color: red;
}
